optuna==2.10.0
sphinx
sphinx-rtd-theme
sphinx-copybutton
sphinx-gallery
sphinx-plotly-directive
pillow
matplotlib
scikit-learn
plotly>=4.0.0
pandas
lightgbm
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
thop